body {
    background-image:url(image.jpg);
    background-size: cover;
    height:100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
  }
  
